[2014-04-30 10:52] ankeshanand opened #2 "Rename the repository as auv-core"
* It's easier to type-out and search.
* We won't have to rename the repository again for the new vehicle.
* '-core' packages is the de-facto naming convention for core libraries.
* Renaming is easy, and doesn't break anything down.

[2014-05-23 20:48] vinayyadav3016 opened #19 "simulator_physic_model"
@prudhvid : Add a subscriber to listen to topic "/kraken/forceData4Thruster" for 4 thruster model and "/kraken/forceData6Thruster" model.

For 4 thruster model, you can make the column corresponding to sway thrusters zeros

[2014-05-30 14:45] #19 closed, assigned to nobody

[2014-07-26 07:56] icyflame opened #25 "Add the utility and the methodology to use .launch files"
@rsrihari: Also, add the command that needs to be used in order to run the simulator.

[2014-07-26 10:06] prudhvid opened #27 "Ignoring Makefile in .gitignore"
@routeaccess  we're ignoring makefile. Remove it from .gitignore

[2014-07-26 11:30] #27 closed, assigned to nevalsar

[2014-07-31 20:14] prudhvid opened #28 "IMU and DVL not working on UWSim"
@ankeshanand @routeaccess
The data of imu_sensor from simulator is redundant and it needs to be fixed.
Pressure sensor is working fine.

[code]

This runs the simulator and bot inside the uwsim but acceleration data's from imu is all zeros :(

[2014-08-05 12:01] #25 closed, assigned to nobody

[2014-10-20 13:03] icyflame opened #32 "Check whether the file generated from the simulator drag and drop GUI works as expected"
Untested Merge: 1a1ae47fc5cbfaffc7d604433b55128b0592f777

[2014-10-25 16:22] #32 closed, assigned to nobody

[2014-12-13 15:49] icyflame opened #38 "[hydro] [12.04] Using the kraken_msgs package in ROSpy"
@prudhvid

For showing the present values of the force in the Python GUI, I need to use this package, And I am not able to do so. I had added the following line to the top of my `main.py` file, as per your recommendation and also from Mission Planner.

[code]

[code]

Please help me resolve this.

[2014-12-14 04:47] #38 closed, assigned to prudhvid

[2014-12-16 16:44] icyflame opened #40 "[ros-indigo] [14.04] Keyboard control: Code working, Bash script not working."
I added all the code that is required for the keyboard control module, as in the current `master` tree.

Then, I copied the script `runKraken_keyboard.sh` from the master tree. (find the file [here](https://github.com/icyflame/kraken_3.0/blob/indigo-devel/Scripts/runKraken_keyboard.sh))

I am using zsh as my default shell. I get the following error when I run `./Scripts/runKraken_keyboard.sh`:

[c

[2014-12-17 06:39] #40 closed, assigned to nobody

[2015-03-26 22:14] icyflame opened #49 "Fix the test.py file"
File: https://github.com/auviitkgp/kraken_3.0/blob/indigo-devel/sensor_stack/seabotix/src/test.py
- Rename to checkThrusters.py
- Remove the code for `subscribing`, as it is not required
- Clean up the print lines at the end of the file. (Print something more meaningful and readable)

[2015-03-26 22:15] icyflame opened #50 "Fix the file t.py"
File: https://github.com/auviitkgp/kraken_3.0/blob/indigo-devel/sensor_stack/seabotix/src/t.py
- Rename to stopKraken.py
- Removing code for subscribing to the topic
- Document the file properly, with the meaning of `7F` clearly mentioned in it.

[2015-03-26 22:16] icyflame commented on #50
@routeaccess @prudhvid Any suggestions?

[2015-03-26 22:16] icyflame commented on #49
@routeaccess @prudhvid Any suggestions?

[2015-03-26 22:59] icyflame commented on #28
@routeaccess This issue is stale. Please have a look into it, and take a call on whether we need to keep it.

[2015-03-26 23:00] icyflame commented on #2
@ankeshanand Ported Code Repository has been named `auv-core`.

@routeaccess Take a call on whether we can close this issue.

[2015-03-26 23:14] icyflame opened #52 "Figure out the diff of the code between the code on the repo and the code on the vehicle"
- Figure out this diff
- Check out whether we have lost any changes.
- Get the repo to the latest Repo HEAD on the default branch.

[2015-03-26 23:32] icyflame opened #53 "Delete the temp branch from this repo"
@routeaccess
If it has no important code on it, then it can be deleted, so as to have a streamlined branch lineup.

[2015-03-27 08:39] nevalsar commented on #53
Branch deleted.
Closing issue.

[2015-03-27 08:39] #53 closed, assigned to nevalsar

[2015-03-27 08:42] nevalsar commented on #2
The catkin port of the code has been named `auv-core`, as suggested. This repo will retain the current name, for legacy reasons.
Closing issue.

[2015-03-27 08:42] #2 closed

[2015-03-28 19:03] icyflame commented on #52
Find the diff at https://github.com/auviitkgp/kraken_3.0/compare/indigo-devel...icyflame:niot-march !

Closing issue.

[2015-03-28 19:03] #52 closed, assigned to nobody

[2015-03-29 11:27] icyflame opened #54 "Clean up the code inside yaw and depth control"
- Add proper documentation
- Show the workflow of the two python files
- Mention which all files need to be run for it to work properly

[2015-03-31 16:10] #50 closed, assigned to icyflame

[2015-03-31 16:10] #49 closed, assigned to icyflame

[2015-05-06 07:26] icyflame commented on #54
Will be resolved when we write the complete control using the present `pose_server`.

[2015-05-06 07:26] #54 closed, assigned to nobody

[2015-09-24 21:35] icyflame commented on #28
cc @kalyan-kumar @ManviG

[2015-09-24 21:54] icyflame opened #67 "DOCS: Add RSync command"

[2015-09-24 22:02] icyflame opened #68 "Create launch files to be run on the vehicle"
I propose the separation of this task into two parts:
1. Each package has a launch file (if it has any dependencies).

   Eg: `buoy` package will have a launch file that will run `bottomcam` package,
2. There will be some global launch files, for specific tasks: such as:
   - `YawControl` (to run all dependencies of YawControl)
   - `BuoyTask` (which will include the particular package's launch fi

[2015-09-24 22:44] icyflame opened #70 "Moving to a proper logging system"
http://wiki.ros.org/roscpp/Overview/Logging

http://wiki.ros.org/rospy/Overview/Logging

ROS has inbuilt support for Logging. We just have to use it.

We will have to port all of our code from existing `cout`, `std::cout` and `print` statements to `ROS_INFO`, `ROS_DEBUG`, etc.

It would be helpful if everyone quickly edited their projects and made these changes, and opened a PR. I would be able to

[2015-09-26 19:37] icyflame commented on #70
**update regarding log levels**
- Print all debug messages using the `rospy.logdebug` or the `ROS_DEBUG` function.
- Also, if the CLI argument `--debug` or `--verbose` is passed to the executable call statement, then initialise the node with `loglevel` as `DEBUG`, so that the `/rosout` topic will become the central place to recieve all log information.

cc @auviitkgp/developers @auviitkgp/embedded

[2015-09-28 20:14] prudhvid commented on #68
@auviitkgp/developers this has to be the way. The launch files will specify all the arguments needed to run a script.
Hierarchy of launch files will help a lot

[2015-09-28 20:16] icyflame commented on #68
@prudhvid Can you please give an example as to what you mean by `arguments`?

[2015-09-28 20:20] prudhvid commented on #68
By arguments I mean any files (especially parameter files) needed to be supplied as arguments for the scripts. e.g. bottomcam needs 0 as argument to open. marker task needs threshold.txt as argument. These can be specified within launch file itself.  e.g. https://github.com/auviitkgp/kraken_3.0/blob/indigo-devel/vision_stack/task_marker/launch/run_server.launch

[2015-09-29 08:02] icyflame commented on #68
@prudhvid :+1:

[2015-09-30 05:31] icyflame commented on #28
Moved away from UWSim.

[2015-09-30 05:31] #28 closed

[2015-09-30 09:43] kshitijgoel007 opened #73 "Integrating rqt_plot with the data published by simulator on the IMU and DVL topics"
To do tuning of Fuzzy controller, we tried to integrate dynamic plotting for two rostopics :
1. /kraken/sensor/dvl/bi_x_axis
2. /kraken/sensor/imu

Issues :
With the first one : it is showing gibberish values on x-axis. http://wiki.ros.org/Clock#Using_Simulation_Time_from_the_.2BAC8-clock_Topic

Please have a look at the above link. I think we have to find a way to use time of uwsim.

With the sec

[2015-09-30 09:43] kshitijgoel007 commented on #73
cc @prudhvid @icyflame @kalyan-kumar @ManviG

[2015-09-30 09:50] kshitijgoel007 opened #74 "Data published by simulator on the IMU topic seems to be incorrect"
We are unable to access several subtopics explicitly in this rostopic. Whereas in /kraken/sensor/dvl we are able to access various topics explicitly : for example : /kraken/sensor/dvl/bi_x_axis, etc.

We want this functionality in this imu topic also.

[2015-09-30 09:52] prudhvid commented on #74
@kshitijgoel007 what topics do u need?

[2015-09-30 10:15] icyflame commented on #73
@kshitijgoel007 When you say:

You mean the `orientation_x` variable in the IMU message definition? And AFAIK, I have seen that feature in `rqt_plot`. It is there in the right top corner, in the drop down box. Tell me if I am wrong.

[2015-09-30 10:18] kshitijgoel007 commented on #74
We need the following things as subtopics :
1. acceleration ax : Always showing zero right now
2. acceleration ay : Always showing zero right now
3. acceleration az : Always showing zero right now
4. orientation \theta x
5. orientation \theta y
6. orientation \theta z

We are unable to figure out following things:
- Why are accelerations being shown zero always?
- Why are there 4 values in "orient

[2015-09-30 10:23] kshitijgoel007 commented on #73
Yeah, the feature is there. I'm using that feature only. But the problem is /kraken/sensor/imu/ is showing up. Not the subtopics.

Whereas in /kraken/sensor/dvl, subtopics also show up. Like : /kraken/sensor/dvl/bi_x_axis.

It seems ROS is not able to recognize subtopics of imu rostopic.

[2015-09-30 10:26] kshitijgoel007 commented on #73
![prob1](https://cloud.githubusercontent.com/assets/7077226/10190641/b6ec59b0-678b-11e5-9e24-5c58ad25f039.png)
![prob2](https://cloud.githubusercontent.com/assets/7077226/10190640/b6e8a5f4-678b-11e5-8fba-70962098fec4.png)

See these pictures. rqt_plot is able to detect dvl topic ('+' sign), but not the imu topic ('+' sign not activated)

[2015-09-30 10:29] icyflame commented on #73
@kshitijgoel007 I think that neither IMU nor DVL have "sub topics", it just has variables inside it's message. See the [IMU message file](https://github.com/auviitkgp/kraken_3.0/blob/indigo-devel/msgs_stack/kraken_msgs/msg/imuData.msg) and the [DVL message file](https://github.com/auviitkgp/kraken_3.0/blob/indigo-devel/msgs_stack/kraken_msgs/msg/dvlData.msg). They are identical except for the size

[2015-09-30 10:31] icyflame commented on #73
Okay, I found the [remap code](https://github.com/auviitkgp/kraken_3.0/blob/indigo-devel/simulator_stack/thruster_remap_g500/launch/remap.launch#L10).

@prudhvid and @kalyan-kumar Did you check whether the IMU and DVL messages that we use are identical to the ones used by the simulator? I think that's the reason that we are not able to get proper data from the simulator.

cc @aniket11bh @kshitijgo

[2015-09-30 10:35] kshitijgoel007 commented on #73
Yeah, I mistakenly called them "_subtopics_". They are variables indeed.
But we intend to use/subscribe them separately in out controller-ROS
integration code. So we need separate access to them. Like :
/kraken/sensor/imu/orientation_x.

DVL topic is well arranged.

On Wed, Sep 30, 2015 at 4:01 PM, Siddharth Kannan notifications@github.com
wrote:

[2015-09-30 10:37] icyflame commented on #73
@kshitijgoel007 Okay. Let's wait for Prudhvi or Kalyan to respond.

[2015-09-30 11:12] prudhvid commented on #74
orientation is in quaternion. All ros communications orientation will
always be in quaternion.
And regarding ax,ay,az there's a problem with IMU corresponding to that
which we'll fix soon.

On Wed, Sep 30, 2015 at 3:48 PM, Kshitij Goel notifications@github.com
wrote:

##

_Prudhvi Dharmana_

_B.Tech 4th year_
_Dept. of Computer Science & Engineering_
_IIT Kharagpur._

[2015-09-30 12:57] kalyan-kumar commented on #73
We didn't check if they were similar. But yesterday while discussing with Aniket that is what we have concluded.
And yes, those are just variables of the message and not subtopics.

[2015-09-30 13:30] kshitijgoel007 commented on #74
Ok.

Me and Aniket are working on a transformation from quaternion system to Euler angle system. It's just a transformation matrix. We can integrate such a thing in a roslaunch file right? Just matrix multiplication stuff.

Actually, quaternions are not intuitive. They are just mathematical abstractions. So, we can't directly figure out which values increase or decrease when certain moments are ap

[2015-09-30 13:40] icyflame commented on #74
@kshitijgoel007 No, we won't be able to integrate them in a launch file. We would write a new node in Python and then integrate **that** node into the launch file. It would be faster if you guys could write a function that looked something like this:

[code]

Would this be possible?

cc @aniket11bh

[2015-09-30 13:50] aniket11bh commented on #74
I think we don't need to write any extra function because they are used widely.
http://wiki.ros.org/geometry/RotationMethods

We can use any of the methods from the above link.
transformations.py would be good for this.

[2015-09-30 13:52] icyflame commented on #74
@aniket11bh Awesome! :+1: Using well-written :package: 's is best.

Can you and @kshitijgoel007 put together a PR on the `thruster_remap_g500` package?

[2015-09-30 13:56] kshitijgoel007 commented on #74
Damn. I forgot to google it. I started reading Fossen :P

On Wed, Sep 30, 2015 at 7:22 PM, Siddharth Kannan notifications@github.com
wrote:

[2015-09-30 13:58] kalyan-kumar commented on #73
Topics `/g500/imu` and `/g500/dvl`, which we have remapped to topics `/kraken/sensor/imu` and `/kraken/sensor/dvl` respectively get messages `underwater_sensor_msgs/DVL` and `sensor_msgs/Imu`.

But our topics get the messages `dvlData` and `imuData`.

Right now, topics `/kraken/sensor/imu` and `/kraken/sensor/dvl` are getting the messages `underwater_sensor_msgs/DVL` and `sensor_msgs/Imu` which is

[2015-09-30 14:11] icyflame commented on #73
@kalyan-kumar Yes, indeed. That's right.

P.S. Please use [GFM](https://guides.github.com/features/mastering-markdown/) next time onwards for better markup. I edited your comment and split up logical sections into different paragraphs.

[2015-09-30 19:07] aniket11bh commented on #74
In [this file](1) I've added a subscriber code to extract the yaw data from
`kraken/sensor/imu` and converted into RPY form.
It is working fine. Yaw is changing perfectly for corresponding change in
vehicle yaw.

**Issues:**
- But still `control.py` is not working
- yaw is coming negative for some heading and positive for other values. so, we need to get the
  absolute data of this.

cc @kshitijgo

[2015-10-01 12:40] aniket11bh commented on #74
This is the what i'm getting after running control.py , it seems like control.py is not publishing the thruster output data anywhere. @icyflame  and @kalyan-kumar , you guys told me that we don't need to change anything inside the file control.py for running the thrusters from the simulator, but it seems like this is not the case. And also seabotix.py is giving out the error (obviously it would be

[2015-10-01 13:39] icyflame opened #75 "One remap is missing, due to which `control.py` does not work."
The topic

[code]

has to be remapped to

[code]

and the corresponding four thruster model topics.

References: [Comment by @prudhvid ](https://github.com/auviitkgp/kraken_3.0/pull/72#issuecomment-143903287)

cc @kalyan-kumar @prudhvid @kshitijgoel007 @aniket11bh

[2015-10-01 13:40] icyflame commented on #73
This issue is the same as #74 .

It is confusing to have two issues about the same thing. I am closing this in favor of #74.

[2015-10-01 13:40] #73 closed, assigned to nobody

[2015-10-01 13:41] icyflame commented on #74
@aniket11bh As discussed with you, I have opened #75 .

Once #75 is fixed by @kalyan-kumar , we will be able to run `control.py` and have it working as expected.

cc @kshitijgoel007 @prudhvid

P.S. I have closed #73 in favour of this issue. [This comment](https://github.com/auviitkgp/kraken_3.0/issues/73#issuecomment-144414568) by @kalyan-kumar probably summarises the problem we were facing.

[2015-10-01 14:23] icyflame commented on #75
@kalyan-kumar My bad. I was talking about [this `control.py`](https://github.com/auviitkgp/kraken_3.0/blob/indigo-devel/sensor_stack/seabotix/src/control.py) file.

[2015-10-01 14:48] aniket11bh commented on #75
There is some problem in thruster_force_converter, because
1. /Control node is giving a good data for yaw movement. while /converter is giving a constant output 0 corresponding to the same thrusters as of from /Control node (Check in  rqt graph and data as attached)
2. Left part of terminal is from the control.py while right part is from thruster_force_converter
![image](https://cloud.githubuserco

[2015-10-01 14:54] icyflame commented on #75
@aniket11bh

As far as I can see, the rqt_graph is exactly as expected by us. This is what is happenning:
- IMU value is being taken by the Control node
- Some processing happens and the thruster force values are published to `/kraken/control/thruster4pid`
- This is remapped to `/kraken/physics_model/forceData4Thruster` which is the topic that the simulator takes thruster input from.

The feedback

[2015-10-01 15:25] aniket11bh commented on #75
@icyflame
- '/converter' which is a node generated by .cpp files (either by 'main.cpp' or by 'ForceConverter.cpp')in 'thruster_force_converter' package
- Left part of the terminal screen belongs to the data as published by 'control.py' on '/kraken/control/thruster6pid'
- Right part of the screen belongs to the data as published by the node '/converter' on '/kraken/physics_model/forceData6Thruster'

[2015-10-01 20:34] icyflame opened #77 "Improve pose_server_python by including I, and other matrices"
- Take all the matrices from [this file](https://github.com/icyflame/kraken_3.0/blob/vehicle-code-26-august-2015/mission_planner_stack/pose_server_python/src/kalman_estimator.py#L188)

cc @aniket11bh

[2015-10-01 22:33] #74 closed, assigned to nobody

[2015-10-01 22:33] #75 closed, assigned to kalyan-kumar

[2015-10-01 23:06] icyflame commented on #67
ping @nevinvalsaraj

[2015-10-02 10:28] icyflame commented on #70
I have abstracted the verbose tag code as a function in the `resources` package, under the `tools` namespace for CPP and under `resource.tools` for Python.

Refer to https://github.com/icyflame/kraken_3.0/commit/857f5ab9052491525dd85577a068103018bdc384 for CPP.

Refer to https://github.com/icyflame/kraken_3.0/commit/168940aac3e9099a758b3530ff23bc3d00286163 for Python.

cc @auviitkgp/developers @au

[2015-10-02 23:51] prudhvid commented on #70
@icyflame :+1: nice work. And also assign this task to others. You don't do the shift all alone.
@kalyan-kumar @ManviG @pranaypratyush  you take some of the other packages and shift them to the new logging system.

[2015-10-05 14:12] icyflame opened #82 "gitignore is set to ignore these message files"
Source: https://github.com/auviitkgp/kraken_3.0/blob/indigo-devel/.gitignore#L7

[code]

We found this problem when @aniket11bh tried to add a message file called `controllerResult.msg` inside `kraken_msgs/msg/` folder.

@nevinvalsaraj :
- Why had you added these lines?
- Don't we think we should make them more specific?

cc @prudhvid @auviitkgp/developers

[2015-10-05 20:16] prudhvid commented on #82
@icyflame this was done because when we write an action file for ActionLibServer, it generates the following messages http://wiki.ros.org/actionlib (check 5.3). So, I advised to add the following lines to gitignore to @nevinvalsaraj . So please ask aniket to change the name of message and put up a PR again

[2015-10-05 20:29] #82 closed, assigned to nevalsar

[2015-10-05 20:30] icyflame commented on #82
​As a matter of fact, we added the file using `git add filename -f` which
force adds a file. That's fine for most cases, but having a related file
name is important. I will look into making the line more specific (as in
something else rather than just `**/msg/*.msg` which is equivalent to any
`.msg` file inside the `msg` folder of any sub-directory.​

[2015-10-14 09:13] icyflame commented on #70
### References for C++ and Python
- C++ - [Line number 20](https://github.com/icyflame/kraken_3.0/blob/857f5ab9052491525dd85577a068103018bdc384/control_system_stack/thruster_converter/src/thruster.cpp#L20) and [Line numbers 100-103](https://github.com/icyflame/kraken_3.0/blob/857f5ab9052491525dd85577a068103018bdc384/control_system_stack/thruster_converter/src/thruster.cpp#L100)
- Python - [Line nu

[2015-10-28 19:20] icyflame opened #84 "Change all the parameters hard-coded across the repository to the ROS parameter server"
The issue was first raised [in this comment](https://github.com/auviitkgp/kraken_3.0/pull/83/files#r43304475)

References:
1. [Parameter Server](http://wiki.ros.org/Parameter%20Server)
2. [rosparam](http://wiki.ros.org/rosparam)

cc @auviitkgp/developers @auviitkgp/embedded-team @auviitkgp/maintainers

[2015-10-28 19:22] icyflame commented on #77
@aniket11bh I guess that the code-base is now ready for these changes to be made and merged into `indigo-devel`?

[2015-10-30 11:46] icyflame opened #87 "Handle the case when goal is preempted by client inside the setyaw ActionServer"
- Working on @aniket11bh 's machine
- Not working on mine, although we are using the same version of the code, and the stack is similar.

It would really help if someone else can test this on their machine as well. @kshitijgoel007  @kalyan-kumar @ManviG Can you guys check and tell me what's really going on?

Opinions? @prudhvid @nevinvalsaraj

cc @auviitkgp/developers

[2015-10-30 16:07] kshitijgoel007 commented on #87
Mine also not working.

[2015-10-30 18:21] kalyan-kumar commented on #87
Tested on my machine and it was working properly. The goal was preempted by the client.

[2015-11-01 06:28] icyflame commented on #67
@kalyan-kumar Please post the rsync command that we used yesterday.

[2015-11-01 11:58] kalyan-kumar commented on #67
rsync -avzhe ssh --progress path/of/directory <username>@<ip>:path/of/directory

[2015-11-04 07:38] icyflame opened #89 "Add a list of the packages to be installed in order for yawControl to work in the readme"
- Add a `bootstrap.sh` bash script?
- Need to install `python-scipy` and `scikit-fuzzy` and required dependencies.

@aniket11bh @kalyan-kumar Anything that I am missing?

[2015-11-04 13:20] kalyan-kumar commented on #89
Yes. That's all we installed on my machine to run the package.

[2015-11-07 18:42] icyflame commented on #89
@kalyan-kumar Can you go through your Bash `history` and post the command that you had run to install everything.

[code]

should work. (It greps through the bash history and outputs the command, if found) :smile:

[2015-11-08 12:48] kalyan-kumar commented on #89
[code]

[code]

[2015-11-12 17:00] #89 closed, assigned to icyflame

[2015-11-12 17:01] icyflame commented on #89
@kalyan-kumar @aniket11bh @kshitijgoel007 Added to the new readme, check it out.

[2015-11-23 20:54] icyflame commented on #87
@aniket11bh

I just tested this again, and it worked on my machine, but the client said **You pressed Ctrl+C**, and that was it. It didn't say that the goal was preempted by it. A message saying that might be helpful. Can you add that to the present setyaw client code and submit a PR?

![screenshot from 2015-11-24 02 22 40](https://cloud.githubusercontent.com/assets/3668034/11349484/7d1b2c4c-9252-

[2015-12-03 09:25] icyflame opened #90 "DOCS: User on the vehicle needs to be added to the `dialout` group for permission to open serial devices (IMU, DVL)"
- `sudo usermod -a -G dialout teamauv` or `sudo adduser teamauv dialout`
- Check this with `groups teamauv`

Add this to a file called `FreshInstallSetup.md` (or such) containing information on what to do when first the vehicle is setup. (including the network setup screenshots and data)

cc @kalyan-kumar @aniket11bh @prudhvid @nevinvalsaraj

[2015-12-05 09:39] icyflame opened #91 "Control the ROS Loop rates using a file instead of having them hardcoded in each of the nodes"
- @prudhvid @nevinvalsaraj @ankeshanand Any preferred way to do this? (I was thinking environment variables!)

cc @aniket11bh @kshitijgoel007 @auviitkgp/developers

[2015-12-05 09:40] icyflame opened #92 "Handling the wiki of our repo"
I would like the wiki to be bundled into this repository itself (perhaps inside a `docs/` folder ? )

Having the wiki on GH is slightly less useful without internet (as on the vehicle)

@prudhvid @nevinvalsaraj Suggestions?

[2015-12-10 18:31] icyflame commented on #87
Works fine now. Closing this issue!

[2015-12-10 18:31] #87 closed, assigned to icyflame

[2015-12-10 18:58] icyflame commented on #91
Tried the env variables approach, but even if we export it in one pane, then the other pane remains unchanged, and source has to be used again for this to work!

I am looking into implementing this using ROS Param, that appears to be the ideal way to implement something like this. Let's see!

cc @auviitkgp/developers

[2015-12-10 19:16] icyflame opened #95 "`offset` not defined inside thruster_converter"
It is referenced on [line 41](https://github.com/auviitkgp/kraken_3.0/blob/indigo-devel/control_system_stack/thruster_converter/src/thruster.cpp#L41)

I have defined it as `0x80` on [line 25](https://github.com/auviitkgp/kraken_3.0/blob/indigo-devel/control_system_stack/thruster_converter/src/thruster.cpp#L41) **to ensure that the code compiles without any errors**.

What should be the value of th

[2015-12-10 19:59] aniket11bh commented on #95
It should be zero speed as per thrusters. So, either of offsetF or offsetB will work.
- Also in [line 48](https://github.com/auviitkgp/kraken_3.0/blob/indigo-devel/control_system_stack/thruster_converter/src/thruster.cpp#L48) and [line 82](https://github.com/auviitkgp/kraken_3.0/blob/indigo-devel/control_system_stack/thruster_converter/src/thruster.cpp#L82), it should be `0x19-0x7F` instead of `0x

[2015-12-10 20:07] icyflame commented on #95
​Okay, since there are so many changes, can you open a PR on the latest
indigo-devel branch?​

[2015-12-11 14:37] #91 closed, assigned to icyflame

[2015-12-13 09:59] icyflame commented on #95
ping @aniket11bh

[2015-12-13 10:10] icyflame commented on #84
Okay, I am moving this up in priority because this is way better than a lot of other approaches to do this.
For example, we can remove a lot of the pub-sub stuff that we have created by simply creating a `rosparam` for it and then, getting that `rosparam`.
One use-case may be for thrusters, where sending the data through nodes can be easily done instead as setting a rosparam, and this has the adva

[2015-12-13 10:24] prudhvid commented on #84
Fantastic this is THE WAY to go :)

On Sun, Dec 13, 2015 at 3:40 PM, Siddharth Kannan notifications@github.com
wrote:

##

_Prudhvi Dharmana_

_B.Tech 4th year_
_Dept. of Computer Science & Engineering_
_IIT Kharagpur._

[2015-12-13 12:48] icyflame opened #96 "DOCS: Add a page about the network settings to be done on the vehicle's motherboard for SSH to work"
- Also, add photos.

[2015-12-19 20:18] prudhvid commented on #92
yup. That's true.

[2016-01-08 19:18] pranaypratyush commented on #96
Wait tell I get start testing the bot. I was planning on installing a DHCP server on the bot to make connecting a little bit easier. I would create the docs myself after it's done. Also suggest other enhancements to make connecting easier (and also to allow us to connect the bot to the internet without much effort).

[2016-01-09 10:31] pranaypratyush commented on #84
Why is "/ros_rate" parameter 'string' instead of 'int' ? I mean do we really need float for this ? Even then we can declare a parameter with type 'double'.
And where are we creating this parameter  (in some '.launch' file) ?

[2016-01-09 17:34] icyflame commented on #84
@pranaypratyush Where is the option to declare this as float? I used the default commands, and it turned out to be string. Wasn't that big a deal, so I left it. Both Python and C++ can easily convert.

Of course, if there is a data type field, then we should use `integer` for `ROS_RATE`

[2016-01-09 17:42] icyflame commented on #96
@pranaypratyush DHCP servers don't need to be installed. They are bundled with Ubuntu. We can't use DHCP, it would make connecting harder. Static IP ssh-ing is easier because we know the IP. We can't find the IP of a DHCP computer on the network. Or can we?

And this issue is my work, because I have the photos. I will create a skeleton page, you can improve on it.

[2016-01-10 06:09] icyflame opened #97 "Issue for uploading Photos to GitHub"
- Whenever using photos in a Wiki, always upload them to this issue and then use their URL in the wiki.
- This issue will be closed as soon as it is created.

[2016-01-10 06:09] #97 closed, assigned to nobody

[2016-01-10 06:12] icyflame commented on #96
Added page with screenshots: https://github.com/auviitkgp/kraken_3.0/wiki/Network-settings-to-be-made-on-the-vehicle

cc @pranaypratyush @prudhvid

@pranaypratyush If you want to add more details, feel free. Wiki can be edited by anyone.

[2016-01-10 06:12] #96 closed, assigned to icyflame

[2016-01-10 06:54] icyflame commented on #67
Added the alias that is on the vehicle here: https://github.com/auviitkgp/dotfiles/blob/master/bashrc#L153

[2016-01-10 06:54] #67 closed, assigned to icyflame

[2016-01-10 07:08] pranaypratyush commented on #96
I think you got it wrong. DHCP won't decide the ip of the bot. We will set that as some default value ( and  maybe give it a default NETBios domain name ). The DHCP server will assign IPs to the clients (our lappy(s)). After this is done we won't require any configuration change on our lappy to ssh. Also we would have a domain name to ssh to instead of remembering an ip.

[2016-01-10 07:12] icyflame commented on #96
Hmm, okay. But I still don't see any significant advantage. IP addresses are not a stretch anyway, they can be automated with one simple shell alias. And it's a onetime configuration, and no installation is required. So, I think our present option is better, unless we see some significant advantage in installing DHCP server on the vehicle.

@prudhvid and @nevinvalsaraj What are your takes?

[2016-01-10 07:16] pranaypratyush commented on #84
Yes we can declare the parameters as `integers`  (32 bit actually). But this still doesn't answer my question as to where is the parameter declared ?

[2016-01-10 07:19] icyflame commented on #84
Check the first two links. The values are stored and fetched from the parameter server. I just missed the parameter type section in [the first doc](http://wiki.ros.org/Parameter%20Server)

I will assign a new issue to you. You must change all the present occurrences of ROS Rate to the integer and also create the required YAML file.

[2016-01-10 07:20] icyflame opened #98 "Change the ROS_RATE everywhere to a 32-bit integer ROSParam"
related to #84 .

[2016-01-10 07:21] pranaypratyush commented on #84
Peace. Do it.

[2016-01-10 07:22] icyflame commented on #84
Done. Check #98. I think one week is enough to get this done?

[2016-01-10 07:24] icyflame commented on #92
Since we can always export the wiki as a git repository, I am leaving this here. We will discuss this at a later stage.

[2016-01-10 07:24] #92 closed, assigned to nobody

[2016-01-10 07:24] icyflame commented on #95
ping @aniket11bh

[2016-01-10 07:25] icyflame commented on #77
@pranaypratyush on which branch did you say you have the code for this?

cc @prudhvid

[2016-01-10 07:26] pranaypratyush commented on #96
Yes of course. But being engineers I think the whole purpose of our life is automation (and taking other people's jobs). Plus your methods ( even the ssh command ) would still work after I have configured. Of course it's a non-essential feature but why not do it if we can ( would take like 30 min to test and won't have to touch it again. also it won't interfere with anything else ).

[2016-01-10 07:33] icyflame commented on #96
@pranaypratyush I really don't get it. Why should we do it when there's no value addition? It would install another package, which is completely unnecessary.

does not cut it.

[![image](https://i.imgflip.com/x47vs.jpg)](https://en.wiktionary.org/wiki/if_it_ain't_broke,_don't_fix_it)

P.S. Interesting discussion though.

cc @auviitkgp/developers

[2016-01-10 07:56] pranaypratyush commented on #96
LOL.

[2016-01-10 09:52] aniket11bh commented on #95
The code is already complete. It is on vehicle. I'll get the code and create a PR

[2016-01-12 07:25] pranaypratyush commented on #98
I am using `double` instead of `int` . It seems it would make things easier.

[2016-01-12 07:57] pranaypratyush commented on #98
The default rate differs throughout the repo. It's mostly 8 or 10 but also 5 ( nqDVL.py) and 2 instances of 50 (in sensor_stack). Using the same rate everywhere seems safe to me, but just wanted to make sure if it's actually okay.
Or should I leave the sensor files as it is ?

[2016-01-12 10:14] icyflame commented on #98
Yes, @pranaypratyush It should be the same. Especially in the modules that are connected.

For now, link them all to one ROSParam. We may have to restructure some code for this to work. For now, just change all ros_rate instances to the same value and then, put this value in a YAML file that can be dumped into ROSParam server. I hope that is what you are doing?

We will have a separate discussion

[2016-01-12 10:51] pranaypratyush commented on #98
Also we can get rid of a separate yaml file. Just  put
`<rosparam param="/ros_rate">10.0</rosparam>`
 in a roslaunch file. Seems neat to me.
Also if we edit launch files won't we have to it for all files, in both cases ?

[2016-01-12 11:08] icyflame commented on #98
@pranaypratyush No, we **must** use a YAML file. You must note that there will be a whole lot of parameters (We also have to move Fuzzy Control parameters, PID control parameters, etc etc) into the rosparam server.

So, for that the easiest way to start is to use a YAML file. Instead of having to put that line again and again in each launch file, or one huge launch file, we simply have a YAML file

[2016-01-12 11:24] pranaypratyush commented on #98
Ok I am creating a new folder @ `/kraken_3.0/Scripts/launch/yaml` and creating a yaml file. Also I would be editing all `.launch` files to load the `yaml` file.
Nod if you agree.

[2016-01-12 11:29] icyflame commented on #98
:+1:

I am not sure about the path now, but we can trivially change it later, if required

[2016-01-13 17:12] icyflame opened #100 "Change the IMU message type to Sensor_msgs/Imu"
- Will standardize the message type for IMU messages that we are using.
- Will help out a lot when using standard ROS packages / plugins (such as ros-control-center referred to [here](https://github.com/auviitkgp/auv-core-gui/pull/1#issuecomment-170467761))
## Migration Procedure
- We edit the `sparton` package.
- We publish the new message type on a second IMU topic (`/kraken/sensor/imu_2`) **(Fi

[2016-01-18 14:22] nevalsar commented on #100
Rather than making a second IMU topic with the desired data format, I'd say replace the original. We have way too many original topic + converter package + modified topic clusters written as it is. Seems like a waste of transport and processing power.

[2016-01-18 14:29] nevalsar commented on #96
@pranaypratyush I'm all for automating stuff, but I think a whole DHCP server for a one node network is overkill. After all, engineers prioritize optimization.
@icyflame Maybe we can have a shell snippet with the required aliases and so forth that can be sourced to `.shellrc` by anyone wanting to configure an SSH connection.

[2016-01-18 14:31] nevalsar commented on #92
The wiki can be cloned trivially to your machine by simply changing the repo clone link from `.git` to `.wiki.git`.
You can find detailed explanation [here](https://help.github.com/articles/adding-and-editing-wiki-pages-locally/).

[2016-01-18 14:34] nevalsar commented on #90
@icyflame Nicely done. Perhaps this can be added to the shell script for LAN settings and aliases required for SSH?

[2016-01-18 15:17] icyflame commented on #100
@nevinvalsaraj I am afraid that completely replacing the old topic will cause unnecessary issues with old packages. And we should rather go for this kind of a migration procedure, with a pre-set date for the removal of the old topic entirely. (say 1 month from now, leading to around 4-5 pool testing days)

[2016-01-18 15:18] icyflame commented on #96
@nevinvalsaraj Good idea, I have been thinking about that. I have already added `rsync` commands for syncing local code onto vehicle and vehicle code onto machine, but they are in the [dotfiles](http://github.com/auviitkgp/dotfiles) repository. I will isolate this stuff into a `.shellrc` file.

[2016-01-18 15:25] nevalsar commented on #100
@icyflame That's fine. We can phase out the old topic, but my point being that this needs to be done rather than keeping both of them side-by-side. :+1:

[2016-01-19 03:08] icyflame commented on #100
Yes, @nevinvalsaraj . Actually, this also needs to be done for some older packages. Me and @prudhvid had decided that we would move all such packages into an `obsolete/` folder. (Such as `nqDvl` CPP package, trax IMU, etc).

[2016-01-19 04:21] icyflame opened #101 "[HOUSEKEEPING] Move unused packages to the obsolete folder"
Currently, the list of packages is:
- [NqDVL CPP](https://github.com/auviitkgp/kraken_3.0/tree/indigo-devel/sensor_stack/NqDVL)
- [Trax](https://github.com/auviitkgp/kraken_3.0/tree/indigo-devel/sensor_stack/trax)
- [Tracks IMU](https://github.com/auviitkgp/kraken_3.0/tree/indigo-devel/sensor_stack/tracks_imu)
- [Depth sensor?](https://github.com/auviitkgp/kraken_3.0/tree/indigo-devel/sensor_stack

[2016-01-19 08:00] aniket11bh commented on #101
Depth sensor package will be used in future when our sensor will be ready.
ᐧ

On Tue, Jan 19, 2016 at 9:51 AM, Siddharth Kannan notifications@github.com
wrote:

##

Aniket Bhushan
3rd year Undergraduate ,
Manufacturing Science and Engineering
IIT Kharagpur

[2016-01-20 19:01] icyflame opened #102 "Code changed on the vehicle"
The code was imported and has been pushed at this commit: https://github.com/auviitkgp/kraken_3.0/commit/ac83f92aa33dffe29beb29f848105d1bb715c6e3

Do you want to merge this commit into the main branch?

[2016-01-21 10:19] icyflame commented on #102
https://github.com/auviitkgp/kraken_3.0/commit/ac83f92aa33dffe29beb29f848105d1bb715c6e3#commitcomment-15570231

Received confirmation from @aniket11bh

[2016-01-21 10:19] #102 closed, assigned to aniket11bh

[2016-01-21 10:20] icyflame commented on #95
Has this been fixed in the commit that was merged as a result of #102  ?

[2016-01-21 10:26] icyflame commented on #101
Fixed in 8ff7890921f14ea5fd17c9a667bf55830dfbcdcd

[2016-01-21 10:26] #101 closed, assigned to nobody

[2016-03-20 06:27] aniket11bh opened #106 "Check 'Thruster converter package'"
Whatever changes has been done in `Thruster converter` package it is not working in our laptops. @icyflame , @prudhvid , @kalyan-kumar  Please check it once on your laptops with the simulator.

The code which is on my repo (not updated with auviitkgp/kraken_3.0) is working fine.

[2016-03-20 07:39] icyflame commented on #106
@aniket11bh Simulator? Which launch file did you run? And WDYM:

[2016-03-20 10:10] aniket11bh commented on #106
When you make the 'thruster_converter' package.

On Sun, Mar 20, 2016 at 1:09 PM, Siddharth Kannan notifications@github.com
wrote:

##

Aniket Bhushan
3rd year Undergraduate ,
Manufacturing Science and Engineering
IIT Kharagpur

[2016-03-20 10:26] icyflame commented on #106
@aniket11bh Exact command and the error you get please.

[2016-03-20 11:23] aniket11bh commented on #106
`rosmake thruster_converter`

On Sun, Mar 20, 2016 at 3:56 PM, Siddharth Kannan notifications@github.com
wrote:

##

Aniket Bhushan
3rd year Undergraduate ,
Manufacturing Science and Engineering
IIT Kharagpur

[2016-03-20 11:24] aniket11bh commented on #106
Check this one if above one looks incomplete

On Sun, Mar 20, 2016 at 4:53 PM, Aniket Bhushan <aniket2701bhushan@gmail.com

##

Aniket Bhushan
3rd year Undergraduate ,
Manufacturing Science and Engineering
IIT Kharagpur

[2016-03-20 11:29] icyflame commented on #106
There seems to be a `printf` statement that is causing a problem, I have removed and pushed to `indigo-devel`.
- Update your repository to latest `indigo-devel` branch
- `cd` into the `thruster_converter` package
- `rosmake`

I just built that package and it worked for me.

If that doesn't work, **paste the COMPLETE command and the error you get when you run that command here**.

[2016-03-20 11:35] icyflame commented on #106
Fixed in https://github.com/auviitkgp/kraken_3.0/commit/90c78e52d6e2913e4adc677640628bcacea6bb77

[2016-03-20 11:35] #106 closed, assigned to nobody

[2016-03-21 16:13] aniket11bh opened #107 "Changes in thruster mapping not compatible with simulator. Patch required to take this as a CL argument."
Why have you changed the thruster mappings ?

![screenshot from 2016-03-21 21 41 21](https://cloud.githubusercontent.com/assets/8214876/13925299/d062e9e0-efad-11e5-8604-6b0f4cbeaf57.png)

[2016-03-21 16:29] icyflame commented on #107
@aniket11bh Apparently, it made PID work. I think this was during december testing, is it not working now? I remember thruster mappings were repeatedly changed during winter. @kalyan-kumar Remember anything from then?

[2016-03-21 17:33] aniket11bh commented on #107
The changed mapping is not suitable with the simulators, the previous one
is.

On Mon, Mar 21, 2016 at 9:59 PM, Siddharth Kannan notifications@github.com
wrote:

##

Aniket Bhushan
3rd year Undergraduate ,
Manufacturing Science and Engineering
IIT Kharagpur

[2016-03-21 17:39] icyflame commented on #107
Hmm, that is a problem. Why not send a patch that takes a CLI argument to decide the thruster mapping? (Default will be the vehicle one of course, but just in case we want to run the simulator, we can pass in something like `simulator` after `./bin/exec-name`.)

[2016-05-22 09:21] icyflame commented on #98
@pranaypratyush Have this on your todo list for testing once the vehicle is assembled and ready to be deployed in the water.

[2016-05-22 11:32] pranaypratyush commented on #98
Sure

[2016-05-22 12:25] pranaypratyush opened #109 "Error in blob package"
When i try to build the `blob` package with `clang++` , I get this error.

[code]

[2016-05-22 12:26] pranaypratyush commented on #109
Note that  i get an error if  I try to build with `gcc-5`

[code]

[2016-05-22 12:27] icyflame commented on #109
@pranaypratyush You should use `make` or `rosmake`. I don't think `clang` or `gcc` are the way to go.

[2016-05-22 12:54] icyflame commented on #109
@pranaypratyush If it worked with `rosmake` (if this is the first time) or with `make` or `make -j4`, this issue can be closed. Report back here, once you have tried the command.

[2016-05-22 20:13] pranaypratyush commented on #109
-_-
Of course I was using `make` and `rosmake`. I just set their variables to use `clang` / `gcc-5` as compiler. Maybe `rosmake` works on ubuntu 14.04 but it doesn't on ubuntu 16.04. Maybe I need to rollback my version of gcc. But still is that a good thing ?
Would try with `gcc 4.8`.

[2016-05-23 03:43] icyflame commented on #109
We have used `make` and `rosmake` only with gcc till now. Better not get fancy with other compilers, and stick to what we know. Closing this now.

Also, wasn't it that ROS indigo isn't supported on 16.04? @kalyan-kumar had to forcefully install Jade, if I remember right.

[2016-05-23 03:43] #109 closed, assigned to nobody

[2016-05-23 10:16] pranaypratyush commented on #109
So I had to use `gcc-5.3.1` and `g++-5.3.1` along with `clang-3.8` in order to build this with `ros-kinetic` on `ubuntu-16.04 (xenial)` . Would be good to make a note so as to inform others who face similar problem.

[2016-08-28 05:16] #100 closed, assigned to pranaypratyush

[2016-08-28 05:20] icyflame opened #113 "Test the new IMU topic on the vehicle"
Check `topicHeader.cpp` for `SENSOR_IMU_NEW`.

[2016-10-31 15:17] athityakumar commented on #113
Also, we need to check if the covariance matrices in https://github.com/auviitkgp/kraken_3.0/blob/indigo-devel/Scripts/launch/yaml/covariance.yaml file are zero-matrices or not.

[2016-11-01 15:05] icyflame opened #114 "Migrate sensor_stack to catkin"

[2016-11-01 15:05] icyflame opened #115 "Migrate vision_stack to catkin"

[2016-11-01 15:05] icyflame opened #117 "Migrate mission_planner_stack to catkin"

[2016-11-01 15:06] icyflame opened #118 "Migrate control_system_stack to catkin"

[2016-11-01 15:07] icyflame opened #119 "Migrate simulator_stack to catkin"

[2016-11-05 13:28] icyflame commented on #114
Fixed in https://github.com/auviitkgp/kraken_3.0/commit/645c88657aefb0eea8eb64c44e3db3a188c7d70c

[2016-11-05 13:28] #114 closed, assigned to pranaypratyush, athityakumar

[2016-11-05 14:26] athityakumar commented on #118
@icyflame : There's a dependency (serialPort) on `hardware_stack`, so we need to migrate that first.

[2016-11-06 02:05] icyflame opened #123 "Migrate hardware stack to catkin"

[2016-12-31 14:00] #117 closed, assigned to pranaypratyush, athityakumar

[2016-12-31 14:00] #119 closed, assigned to pranaypratyush, Parth-Vader

[2017-01-07 14:05] pranaypratyush commented on #115
Are we doing this? I mean do we need to? Shouldn't this repo be marked as legacy or archived?

[2017-01-07 14:06] icyflame commented on #115
@pranaypratyush we are doing this.

[2017-01-07 15:02] icyflame commented on #123
Merged in 3d7b282

[2017-01-07 15:02] #123 closed, assigned to pranaypratyush, athityakumar

[2017-01-07 15:34] kshitijgoel007 commented on #95
@aniket11bh What is the status of the PR?

[2017-01-08 07:48] #118 closed, assigned to pranaypratyush, athityakumar

[2017-01-09 18:59] kshitijgoel007 commented on #115
Status

[2017-01-15 10:44] #115 closed, assigned to pranaypratyush, dyutimoy

[2017-01-15 10:46] icyflame opened #128 "Migrate vision_gui to catkin"
Find the package here: https://github.com/auviitkgp/kraken_obsolete/tree/master/vision_gui

Guideline: http://stackoverflow.com/a/14013231/2080089

[2017-01-15 10:52] icyflame opened #129 "Issue for uploading images"
Want to use an image inside the Wiki? Paste it here, and copy the link and use it there.

[2017-01-15 10:52] #129 closed, assigned to nobody

[2017-01-15 10:53] icyflame commented on #129
![image](https://cloud.githubusercontent.com/assets/3668034/21961999/cf3364dc-db3e-11e6-8e9e-0e64ca45dd5e.png)

[2017-01-17 07:02] kshitijgoel007 commented on #128
@pranaypratyush @dyutimoy @athityakumar Update on this?

[2017-08-07 13:33] #98 closed, assigned to pranaypratyush

[2019-08-10 08:38] nerellasureshkumar7 opened #140 "Sparton IMU"
Hi Guys,
     I have seen that you people are using Sparton IMU for your bot. I have contacted one of your senior who(Atithya Kumar) worked on the AUV, he told me to contact you guys for support. I have some doubts in integrating the Sparton IMU sensor can you please help me out.

[2019-08-12 01:31] icyflame commented on #140
@nerellasureshkumar7 Hi, sure. We use the Sparton IMU through a serial port connection. The [code][1] for this uses the `serial` communication library in Python along with the `roslib` library to publish this information on a [ROS topic][2].

Is there anything else that you want to know about specifically? Feel free to write your questions in this issue and someone will help you with them. 👍

[1]:

[2019-08-12 03:05] nerellasureshkumar7 commented on #140
@icyflame Hi, Thanks for your response. I'm using this https://github.com/udmamrl/SpartonCompassIMU repository for getting the IMU values via serial port.
1. As far i've seen the IMU default go with NED but as per ros standards(REP 103) we need ENU. After i'm converting the values into ENU the Pitch and Roll are inverted.
2. Can you suggest me the mounting position of IMU on the robot?  I placed t

[2019-08-13 07:35] icyflame commented on #140
@aniket11bh can you help with the placement of the IMU on the robot?

[2019-08-18 13:27] nerellasureshkumar7 commented on #140
@icyflame Hi, could you people help me with Sparton IMU problem.

[2019-08-21 12:22] icyflame commented on #140
@nerellasureshkumar7 Hey, I graduated last year; I was working on AUV a couple years before that. So, my memory about the exact placement is slightly hazy. I will try to get someone else who is actively involved in the group to look at your issue. :slightly_smiling_face:

[2019-08-29 11:08] #140 closed, assigned to nobody